<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Angular Service Demo</title>
	<script type="text/javascript" src="angular.js"></script>
</head>
<body>
	<div ng-controller="makePostCtrl">
		<label for="name">Name:</label>
		<input type="text" ng-model="name">
		<br>
		<label for="text">Text:</label>
		<input type="text" ng-model="text">
		<br>
		<button ng-click="post()">post</button>
	</div>

	<div ng-controller="showPostCtrl">
		<ul>
			<li ng-repeat="post in posts">
				<p>Name: {{post.name}}</p>
				<p>Text: {{post.text}}</p>
			</li>
		</ul>
	</div>
</body>
	<script type="text/javascript">
var app = angular.module('app', []);

app.service('posts', function(){
	console.log("posts' service method is called");
	var posts = [];

	this.get = function(){
		return posts;
	};

	this.push = function(name, text){
		posts.push({
			name: name,
			text: text
		});
	};

	return this;
});

app.controller('makePostCtrl', function($scope, posts){
	$scope.post = function(){
		console.log('calling posts.push() method;');
		posts.push($scope.name, $scope.text);
	};
});

app.controller('showPostCtrl', function($scope, posts){
	console.log('calling posts.get() method;');
	$scope.posts = posts.get();
});
</script>
</html>