div(ng-controller='welcomeCtrl')
	.hero-unit
		h2 Hi! Welcome to Ed' Microblog!

	.button-unit
		.button-outer
			p Already registered?
			a(href='/login').button Login 
		
		.button-outer
			p No account yet? 
			a(href='/register').button Register

block style
	link(rel='stylesheet', href='/css/welcome.css')

block script
	script(src='js/lib/angular/angular.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')