div(ng-controller='welcomeCtrl')
	.hero-unit
		h2 Hi! Welcome to Ed' Microblog!

	.button-unit
		.button-outer
			p Already registered?
			a(href='/login').button Login 
		
		.button-outer
			p No account yet? 
			a(href='/register').button Register

ul.post-unit(ng-controller='showPostCtrl')
	li(ng-repeat='post in posts')
		.post {{post.text}}
		span.post-user {{post.user}}
		span.post-time {{post.time}}

	li
		.post I'm what I am.
		span.post-user Jackson
		span.post-time 8-20-2013 12:33

	li
		.post This app is implemented with angularJS and nodeJS.
		span.post-user Edward.G.
		span.post-time 8-23-2013 23:46

	li
		.post Easy come, easy go.
		span.post-user Paul
		span.post-time 4-20-2012 08:12

	li
		.post You have to give before you get.
		span.post-user Edward.G.
		span.post-time 04-07-2013 14:33

	li
		.post It's time to go.
		span.post-user Christina
		span.post-time 09-10-2013 00:21

block style
	link(rel='stylesheet', href='/css/welcome.css')
	link(rel='stylesheet', href='/css/post.css')

block script
	script(src='js/lib/angular/angular.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')