.hero-unit
	h2 Registration

form(ng-controller='registerCtrl')
	fieldset
		.input-row
			label(for='username') Username
			input(type='text', name='username', placeholder='Your username here', ng-model='username')
	
		.input-row
			label(for='password') Password
			input(type='password', name='password', placeholder='Your password here', ng-model='password')
	
		.input-row
			label(for='password-again') Password again
			input(type='password', name='password-again', placeholder='Your password again', ng-model='password-agian') 

		.button-row
			input(type='submit', value='submit')
			input(type='reset', value='reset')

block style
	link(rel='stylesheet', href='/css/register.css')