.hero-unit
	h2 Registration

form(ng-controller='registerCtrl')
	span.message(ng-show='hasMessage') {{message}}
	fieldset
		.input-row
			label(for='username') Username
			input(type='text', placeholder='Your username here', ng-model='username', required)
	
		.input-row
			label(for='password') Password
			input(type='password', placeholder='Your password here', ng-model='password', required)
	
		.input-row
			label(for='password-again') Password again
			input(type='password', placeholder='Your password again', ng-model='password_again', required) 

		.button-row
			input(type='submit', value='submit', ng-click='register()')
			input(type='reset', value='reset')

block style
	link(rel='stylesheet', href='/css/register.css')