extends layout

block style
	link(rel='stylesheet', href='/css/register.css')
	
block body
	.hero-unit
		h2 Registration
	
	form
		fieldset
			.input-row
				label(for='username') Username
				input(type='text', name='username', placeholder='Your username here')
		
			.input-row
				label(for='password') Password
				input(type='password', name='password', placeholder='Your password here')
		
			.input-row
				label(for='password-again') Password again
				input(type='password', name='password-again', placeholder='Your password again') 

			.button-row
				input(type='submit', value='submit')
				input(type='reset', value='reset')
