.content{
    font-family: tahoma, verdana, sans-serif, arial;
}

.hero-unit{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background:#a4bb46;
}

.btn{
    padding: .5em 2em;
    background: linear-gradient(#dde5ce, #dee5c4);
    border: none;
    margin-right: 2em;
    color: #fff;
    font-size: 1.4em;
    font-family: tahoma, verdana, sans-serif, arial;
    text-decoration: none;
}

.btn:hover{
    background: #fff;
    color: #dde5ce;
}